
.error
{
	float: left;
    text-align: center;
    padding: 0px 0px 0px 0px; 
 
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}
