.col-centered{
    float: none ;
    margin: 0 auto;
}
input#firstname
{
	display:inline;
}
.error
{
	float: left;
    width: 100%;
    text-align: center;
    font-family: 'Crete Round',serif;
    padding: 0px 0px 0px 0px; 
    display:inline;
}